<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 <div class="form-group  container" >
   <form novalidate [formGroup]="RegistrationForm" (submit)="OnSubmit()"class="container "  >
     {{RegistrationForm.value|json}} <br>
     <label>Name</label><br>
    <input type="text" name="name" class="form-control  inputClass" formControlName="name"><br>
    <div *ngIf="RegistrationForm.controls['name'].hasError('required')&&
    (RegistrationForm.controls['name'].touched ||RegistrationForm.controls['name'].dirty)" class=" alert-danger inputClass" >
        Name is compulsary
    </div>
    <label>Email</label><br>
    <input type="text" name="email"class="form-control inputClass"  formControlName="email"><br>
    <div *ngIf="RegistrationForm.controls['email'].hasError('required')" class=" alert-danger inputClass" >
        Email is compulsary
    </div>
    
    <div formGroupName="address"  >

    <label>Street</label><br>
    <input type="text" name="street"class="form-control  inputClass"  formControlName="street"><br>
    <div *ngIf="RegistrationForm.controls['address'].controls['street'].hasError('required')" class=" alert-danger inputClass" >
        Street is compulsary
    </div>
    <label>City</label><br>
    <input type="text" name="city" class="form-control  inputClass" formControlName="city"><br>  
    <div *ngIf="RegistrationForm.controls['address'].controls['city'].hasError('required')" class=" alert-danger inputClass" >
        City is compulsary
    </div>
  </div>
   
    <label>Phone No</label><br>
    <input type="text" name="phoneNo" class="form-control  inputClass" formControlName="phoneNo"><br>
    <div *ngIf="RegistrationForm.controls['phoneNo'].hasError('required')" class=" alert-danger inputClass" >
        Phone no is compulsary
    </div>
    
    <input type="submit" name="submit" [disabled]="!RegistrationForm.valid" class="btn btn-success" >
   </form>
 </div>
 